/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");

:root {
  --bg-color: #fff;
  --bar-color: #d4d4d4;
  --shadow-color: #b2b2b2;
  --text-color: #686356;
  --icon-color: #beb8a8;
  --main-color: #e8c0a1;
  --second-color: #f8e7da;
  --container-width: 1440px;
  --main-gradient: linear-gradient(
    to right,
    rgba(243, 206, 177, 1),
    rgba(224, 181, 149, 1)
  );
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  color: #222;
  margin: 0;
  font-weight: 500;
  font-size: 24px;
}

h1::before,
h2::before {
  content: "//";
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover {
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}

.container {
  max-width: var(--container-width);
  margin: auto;
}

.second-title {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 500;
}

.content-text {
  margin: 10px 0;
}

.main-btn {
  outline: none;
  border: none;
  background-image: var(--main-gradient);
  color: var(--bg-color);
  padding: 10px 20px;
  border-radius: 0.3rem;
  -webkit-box-shadow: 1px 1px 4px var(--shadow-color);
  box-shadow: 1px 1px 4px var(--shadow-color);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

.main-btn:hover {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
  color: white;
}

.image-circle-1 {
  width: 240px;
  height: auto;
  position: absolute;
  z-index: -1;
  top: -20%;
  left: -40%;
}

.image-circle-2 {
  width: 320px;
  height: auto;
  position: absolute;
  z-index: 1;
  bottom: -30%;
  right: -40%;
}

.image-circle-3 {
  width: 300px;
  height: auto;
  position: absolute;
  z-index: -1;
  bottom: -60%;
  right: -60%;
}

.image-circle-4 {
  width: 400px;
  height: auto;
  position: absolute;
  z-index: -1;
  bottom: -25%;
  right: -30%;
}

.image-circle-5 {
  width: 350px;
  height: auto;
  position: absolute;
  z-index: -1;
  top: -80%;
  left: -10%;
}

.image-circle-6 {
  width: 350px;
  height: auto;
  position: absolute;
  z-index: -1;
  bottom: -80%;
  right: 0%;
}

.image-circle-7 {
  width: 600px;
  height: auto;
  position: absolute;
  z-index: -2;
  bottom: -10%;
  right: -15%;
  opacity: 0.4;
}

.image-circle-8 {
  width: 400px;
  height: auto;
  position: absolute;
  z-index: -2;
  bottom: -10%;
  left: -15%;
  opacity: 0.8;
}

.image-circle-9 {
  width: 350px;
  height: auto;
  position: absolute;
  bottom: 40%;
  right: 15%;
}

.header {
  background-color: var(--bar-color);
  -webkit-box-shadow: 0 2px 5px var(--shadow-color);
  box-shadow: 0 2px 5px var(--shadow-color);
  height: 5rem;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  padding: 15px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-container__logo {
  height: inherit;
}

.header-container__logo img {
  height: 70%;
  -webkit-filter: brightness(0.5) opacity(0.3);
  filter: brightness(0.5) opacity(0.3);
}

.toggle-menu {
  display: none;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 4;
  top: 1.5rem;
  right: 3rem;
}

.toggle-menu input {
  position: relative;
  display: block;
  width: 35px;
  height: 32px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.toggle-menu span {
  display: block;
  width: 33px;
  height: 4px;
  position: relative;
  top: -2rem;
  left: 0.35rem;
  margin-bottom: 5px;
  background: var(--text-color);
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
  -ms-transform-origin: 4px 0px;
  transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.7, 0.2, 0.05, 1),
    opacity 0.5s ease, -webkit-transform 0.5s cubic-bezier(0.7, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.7, 0.2, 0.05, 1), opacity 0.5s ease,
    -webkit-transform 0.5s cubic-bezier(0.7, 0.2, 0.05, 1);
  -o-transition: transform 0.5s cubic-bezier(0.7, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.7, 0.2, 0.05, 1), opacity 0.5s ease;
  transition: transform 0.5s cubic-bezier(0.7, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.7, 0.2, 0.05, 1), opacity 0.5s ease;
  transition: transform 0.5s cubic-bezier(0.7, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.7, 0.2, 0.05, 1), opacity 0.5s ease,
    -webkit-transform 0.5s cubic-bezier(0.7, 0.2, 0.05, 1);
}

.toggle-menu input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(1px, 0px);
  -ms-transform: rotate(45deg) translate(1px, 0px);
  transform: rotate(45deg) translate(1px, 0px);
  background: #333;
}

.toggle-menu input:checked ~ span:nth-last-child(2) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
  -ms-transform: rotate(0deg) scale(0.2, 0.2);
  transform: rotate(0deg) scale(0.2, 0.2);
}

.toggle-menu input:checked ~ span:nth-last-child(1) {
  -webkit-transform: rotate(-45deg) translate(-1px, -1px);
  -ms-transform: rotate(-45deg) translate(-1px, -1px);
  transform: rotate(-45deg) translate(-1px, -1px);
}

.header-container__nav {
  background-image: var(--main-gradient);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65%;
  padding: 0.5rem 40px;
  border-radius: 0.4rem;
  -webkit-box-shadow: 2px 2px 5px var(--shadow-color);
  box-shadow: 2px 2px 5px var(--shadow-color);
  color: var(--bg-color);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header-container__nav__socials {
  border-left: 1px solid var(--bg-color);
  padding-left: 1rem;
  text-shadow: 2px 2px 3px var(--shadow-color);
}

.icon {
  filter: drop-shadow(2px 2px 3px var(--shadow-color));
}

.header-container__nav__sections > ul,
.header-container__nav__socials > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 0;
}

.header-container__nav__sections > ul li {
  padding: 0 20px;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.header-container__nav__socials > ul li {
  padding: 0 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.header-container__nav__sections > ul li:hover,
.header-container__nav__socials > ul li:hover {
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}

.main {
  margin-top: 40px;
  color: var(--text-color);
  overflow: hidden;
}

.main-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  -ms-grid-rows: auto 1fr;
  grid-template-rows: auto 1fr;
}

.main-header > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.main-header > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.main-header > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.main-header > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.main-header__img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  position: relative;
}

.main-header__img img {
  max-width: 350px;
  border-radius: 0.3rem;
}

.main-header__box {
  background-color: #ffffffdd;
  border-radius: 0.3rem;
  -webkit-box-shadow: 2px 2px 3px var(--shadow-color);
  box-shadow: 2px 2px 3px var(--shadow-color);
  position: relative;
  z-index: 2;
  top: 25%;
  left: -10%;
  padding: 10px 20px;
  min-height: 160px;
}

.main-header__box__footer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.links,
.links .links--icon {
  padding: 0 5px;
  text-shadow: 1px 1px 2px var(--shadow-color);
  color: #beb8a8;
}

.links .links--icon {
  font-size: 24px;
  transition: all 0.2s ease-in-out;
}

.links--icon:hover {
  filter: brightness(0.7);
}

.main-header__text {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-align: end;
  align-self: end;
  place-self: end;
  text-align: right;
  margin-right: 10%;
  position: relative;
}

.main-header__text__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-header__text__buttons button {
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
}

.main-about-section {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.main-about-me {
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
}

.main-about-me p {
  margin: 20px 0;
  text-align: justify;
}

.main-about-me__interests {
  list-style-type: disc;
  margin: 10px 20px;
}

.main-about-me__achieve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.main-about-me__achieve img {
  height: 60px;
}

.main-skills {
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
  -webkit-box-shadow: 2px 2px 3px var(--shadow-color);
  box-shadow: 2px 2px 3px var(--shadow-color);
  border-radius: 0.3rem;
  padding: 0 20px;
  position: relative;
}

.main-skills__plot {
  margin: 20px 80px 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: var(--bg-color);
  text-align: right;
}

.skills {
  background-color: #4d4d4d22;
  border-radius: 0.3rem;
  margin: 10px 0;
}

[class*="skill-"] {
  padding: 5px 20px;
  border-radius: 0.3rem;
  background-image: var(--main-gradient);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 2px var(--shadow-color);
  box-shadow: 1px 1px 2px var(--shadow-color);
}

.skill-1 {
  width: 90%;
}

.skill-2 {
  width: 90%;
}

.skill-3 {
  width: 60%;
}

.skill-4 {
  width: 80%;
}

.skill-5 {
  width: 80%;
}

.skill-6 {
  width: 60%;
}

.main-tools {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(243, 206, 177, 0.2)),
    to(rgba(224, 181, 149, 0.4))
  );
  background-image: -o-linear-gradient(
    left,
    rgba(243, 206, 177, 0.2),
    rgba(224, 181, 149, 0.4)
  );
  background-image: linear-gradient(
    to right,
    rgba(243, 206, 177, 0.2),
    rgba(224, 181, 149, 0.4)
  );
  padding: 20px 0;
  margin: 40px 0;
  position: relative;
}

.main-tools__content {
  margin: 0 20px;
}

.main-tools_essentials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.essential-box {
  background-color: var(--bg-color);
  width: 80px;
  height: 80px;
  margin: 20px 20px 20px 0;
  border-radius: 0.3rem;
  -webkit-box-shadow: 2px 2px 3px var(--shadow-color);
  box-shadow: 2px 2px 3px var(--shadow-color);
  text-align: center;
  padding-top: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
}

.essential-box img {
  height: 60%;
}

.main-portfolio {
  margin: 0 20px;
  position: relative;
}

.main-portfolio p {
  max-width: 400px;
}

.fa-location-arrow {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}

.main-portfolio__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5rem 1fr 1.5rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

.card-box {
  -webkit-box-shadow: 2px 2px 3px var(--shadow-color);
  box-shadow: 2px 2px 3px var(--shadow-color);
  text-align: center;
  border-radius: 0.3rem;
  padding: 10px;
  position: relative;
  overflow: hidden;
  background-color: var(--bg-color);
}

.card-box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0.3rem;
  z-index: 2;
  -webkit-filter: brightness(0.9);
  filter: brightness(0.9);
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.card-box:hover::before {
  background-color: #e8c0a1cc;
}

.card-box:hover img {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}

.card-box:hover .card-box__icon {
  color: var(--bg-color);
  position: relative;
  z-index: 3;
}

.card-box:hover .card-box__info {
  opacity: 1;
}

.card-box__img {
  overflow: hidden;
}

.card-box__img img {
  width: 100%;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.card-box__icon {
  text-align: end;
  padding-top: 5px;
  font-size: 18px;
  text-shadow: 1px 1px 2px var(--shadow-color);
  color: #beb8a8;
}

.card-box__icon i {
  margin-left: 5px;
}

.card-box__info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  text-align: left;
  margin: auto;
  width: 100%;
  padding: 20px 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--bg-color);
  text-shadow: 1px 1px 2px var(--shadow-color);
  font-weight: 500;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.card-box__info__header {
  color: #222;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 0;
}

.card-box__info__subtitle {
  margin-bottom: 20px;
}

.main-blog {
  margin: 40px 20px;
  position: relative;
}

.main-blog__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-blog__cards__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main_blog__img {
  -ms-flex-preferred-size: 1;
  flex-basis: 1;
}

.main-blog__img img {
  border-radius: 0.3rem;
  width: 100%;
}

.main-blog__card__body {
  -ms-flex-preferred-size: 2;
  flex-basis: 2;
  margin-left: 30px;
}

.main-blog__card__body__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card-title {
  margin-bottom: 0;
}

.card-date {
  color: var(--main-color);
  font-size: 14px;
}

.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-content a {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: auto;
  cursor: pointer;
  color: var(--main-color);
}

.card-content a::after {
  content: ">";
  margin-left: 10px;
}

.main-contact {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(243, 206, 177, 0.3)),
    to(rgba(224, 181, 149, 0.6))
  );
  background-image: -o-linear-gradient(
    left,
    rgba(243, 206, 177, 0.3),
    rgba(224, 181, 149, 0.6)
  );
  background-image: linear-gradient(
    to right,
    rgba(243, 206, 177, 0.3),
    rgba(224, 181, 149, 0.6)
  );
  padding: 20px;
  margin: 0;
}

.main-contact > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-contact__contact__me {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.main-contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 240px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.main-contact__form input,
.main-contact__form textarea {
  border: none;
  margin: 5px 0;
  -webkit-box-shadow: 2px 2px 4px var(--shadow-color);
  box-shadow: 2px 2px 4px var(--shadow-color);
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 0.3rem;
  -ms-flex-item-align: start;
  align-self: flex-start;
  width: 60%;
}

.main-contact__form button {
  /* align-self: flex-end; */
  width: 8rem;
}

.main-contact__info {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
  position: relative;
}

.contact-img img {
  height: 250px;
  border-radius: 0.3rem;
}

.main-contact__info__img {
  text-align: right;
  font-size: 14px;
}

.contact-box {
  position: absolute;
  background: #ffffffdd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  border-radius: 0.3rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: 2px 2px 4px var(--shadow-color);
  box-shadow: 2px 2px 4px var(--shadow-color);
  top: 20%;
  right: 30%;
}

.contact-box img {
  height: 40px;
}

.contact-text {
  text-align: left;
  font-size: 14px;
}

.toTopBtn {
  text-align: center;
  -webkit-box-shadow: 0 -1px 1px var(--shadow-color);
  box-shadow: 0 -1px 1px var(--shadow-color);
  height: 4rem;
}

#toTopBtn {
  background-color: var(--bar-color);
  width: 32px;
  height: 32px;
  font-size: 3rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: #33333366;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#toTopBtn:hover {
  color: #333;
}

@media only screen and (max-width: 900px) {
  .toggle-menu {
    display: block;
  }

  .image-circle-2,
  .image-circle-5,
  .image-circle-6,
  .image-circle-8 {
    display: none;
  }

  .header-container__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    height: 220px;
    width: 250px;
    z-index: 3;
    top: -240px;
    border-radius: 0 0 4px 4px;
  }

  .header-container__nav__sections > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header-container__nav__socials {
    border-left: none;
    border-top: 1px solid var(--bg-color);
    text-align: center;
  }

  .header-container__nav__socials > ul {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .header-container__nav__sections > ul li {
    padding: 5px 0;
    margin-right: 0;
  }

  .header-container__nav__socials > ul li {
    padding: 0 5px;
  }

  .main-header__box {
    min-height: 180px;
  }

  .main-skills__plot {
    margin-right: 20px;
  }

  .main-portfolio__cards {
    -ms-grid-columns: 1fr 1.5rem 1fr;
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-box {
    position: relative;
    top: 0;
    right: 0;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 700px) {
  .main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
  }

  .main-header__img {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    grid-row: auto;
    position: relative;
  }

  .main-header__img img {
    width: 100%;
  }

  .main-header__box {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    top: 0;
    left: 0;
    min-height: 200px;
    margin-bottom: 10px;
  }

  .main-header__text {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-align: auto;
    align-self: auto;
    place-self: auto;
    text-align: left;
    margin-right: 0;
    margin: 10px 0;
  }

  .main-about-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 85%;
    margin: 20px auto;
  }

  .main-skills {
    margin: 20px 0;
  }

  .main-tools_essentials {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .main-blog__cards__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 20px 0;
  }

  .main-contact > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .main-contact__form {
    height: auto;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .main-contact__form button {
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin: 20px 0;
  }
}

@media only screen and (max-width: 400px) {
  .main-header__box {
    min-height: 250px;
  }
}
